force-app/main/default/flows/X2_5_months_prior_to_expiration.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_after_day_after_expiration</name>
        <label>Send after day after expiration</label>
        <locationX>1106</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.Day_After_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_alert</name>
        <label>Send email alert</label>
        <locationX>314</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.X2_5_Months_Prior_to_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_alert_on_extension_before_3_5_months_before</name>
        <label>Send email alert on extension before 3.5 months before</label>
        <locationX>1370</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.X3_5_Months_Prior_to_Final_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>send_email_alert_to_client</name>
        <label>send email alert to client</label>
        <locationX>578</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.X1_5_Months_Prior_to_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_alert_to_client_before_15_days</name>
        <label>Send Email alert to client before 15 days</label>
        <locationX>842</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.X15_Days_Prior_to_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_alert_to_client_on_extension_1_day_after</name>
        <label>Send email alert to client on extension 1 day after</label>
        <locationX>2426</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.Day_After_Fincal_Due_Date</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_alert_to_client_on_extension_before_15_days</name>
        <label>Send email alert to client on extension before 15 days</label>
        <locationX>2162</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.Send_15_Days_Prior_to_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_alert_to_client_on_extension_before_1_5_months</name>
        <label>Send email alert to client on extension before 1.5 months</label>
        <locationX>1898</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.Send_1_5_Months_Prior_to_Final_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_email_alert_to_client_on_extension_before_2_5_months</name>
        <label>Send email alert to client on extension before 2.5 months</label>
        <locationX>1634</locationX>
        <locationY>288</locationY>
        <actionName>Registration__c.X2_5_Months_Prior_to_Final_Expiration</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>Send email alert to client before 2.5 months of expiration</description>
    <environments>Default</environments>
    <interviewLabel>2.5 months prior to expiration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2.5 months prior to expiration</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update email from client email</description>
        <name>Update_email</name>
        <label>Update email</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>$Record.Client__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1112</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_email</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>Client__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X2nd_Ext_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Registration__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X2_5_months_prior_to_end_date</name>
            <connector>
                <targetReference>Send_email_alert</targetReference>
            </connector>
            <label>2.5 months prior to end date</label>
            <offsetNumber>-76</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_5_months_prior_to_expiration</name>
            <connector>
                <targetReference>send_email_alert_to_client</targetReference>
            </connector>
            <label>1.5 months prior to expiration</label>
            <offsetNumber>-45</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_days_prior_to_expiration</name>
            <connector>
                <targetReference>Send_Email_alert_to_client_before_15_days</targetReference>
            </connector>
            <label>15 days prior to expiration</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Day_After_Expiration</name>
            <connector>
                <targetReference>Send_after_day_after_expiration</targetReference>
            </connector>
            <label>Day After Expiration</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X3_5_months_to_expit</name>
            <connector>
                <targetReference>Send_email_alert_on_extension_before_3_5_months_before</targetReference>
            </connector>
            <label>3.5 months prior to expiration</label>
            <offsetNumber>-106</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X2_5_Months_Prior_to_Final_Expiration</name>
            <connector>
                <targetReference>Send_email_alert_to_client_on_extension_before_2_5_months</targetReference>
            </connector>
            <label>2.5 Months Prior to Final Expiration</label>
            <offsetNumber>-76</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>X2nd_Ext_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1_5_Months_Prior_to_Final_Expiration</name>
            <connector>
                <targetReference>Send_email_alert_to_client_on_extension_before_1_5_months</targetReference>
            </connector>
            <label>1.5 Months Prior to Final Expiration</label>
            <offsetNumber>-45</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>X2nd_Ext_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X15_days_prior_to_final_expiration</name>
            <connector>
                <targetReference>Send_email_alert_to_client_on_extension_before_15_days</targetReference>
            </connector>
            <label>15 days prior to final expiration</label>
            <offsetNumber>-15</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>X2nd_Ext_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>send_day_after_expiration</name>
            <connector>
                <targetReference>Send_email_alert_to_client_on_extension_1_day_after</targetReference>
            </connector>
            <label>send day after expiration</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>X2nd_Ext_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
